name: Publish Docker image

on:
  workflow_dispatch:
    inputs:
      dir:
        description: 'Build Directory'
        required: true
      tag:
        description: 'Image tag'
        required: true

jobs:
  push_to_registry:
    name: Push Docker image
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to GitHub Container Hub
        uses: docker/login-action@v1 
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.CR_PAT }}
      - name: Push to GitHub Container Hub
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: ghcr.io/subicura/${{ github.event.inputs.dir }}:${{ github.event.inputs.tag }}
          file: ./${{ github.event.inputs.dir }}/Dockerfile
          context: ./${{ github.event.inputs.dir }}
          labels: |
            org.opencontainers.image.source=https://github.com/subicura/docker-build
